//
// Features.scss
//
.feature {
    .icon {
        font-size: 40px;
        .icon-shape {
            position: absolute;
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: -1;
        }
    }
    .title {
        transition: all 0.5s ease;
        &:hover {
            color: $primary !important;
        }
    }
}
.about-serv {
    .icons-serv {
        height: 60px;
        width: 60px;
        line-height: 56px;
    }
}


.service-wrapper {
    transition: all 0.5s ease;
    .icon {
        width: 60px;
        height: 60px;
        line-height: 45px;
        transition: all 0.5s ease; 
        
        &.icon-uil {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: inherit;
        }
    }
    .big-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0.05;
        transition: all 0.5s ease;
    }
}

.features-box {
    position: relative;
    z-index: 2;
    margin: -100px 0 0;
    &.features-two {
        margin: -90px 0 0;
    }
    .title {
        letter-spacing: 1px;
    }
}